<div class="page-header home" data-parallax="true" style="background-image: url('./assets/img/villa-new-side.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Introducing TECHLUX</h1>
            <h3>A blend of opulent living and futuristic convenience</h3>
            <br />
            <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a> -->
            <button type="button" (click)="onBookNow()" class="btn btn-outline-neutral btn-round">Book Now</button>
        </div>
    </div>
</div>

<div class="main">
    <div class="section text-center gallery">
        <div class="container">
            <h2 class="title mb-5">Glimpse into our projects</h2>
            <ul ngbNav #nav="ngbNav" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>TECHLUX</a>
                    <ng-template ngbNavContent>
                        <div class="row">
                            <div class="col-md-8 mr-auto ml-auto">
                                <div class="card page-carousel">
                                    <ngb-carousel>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/techlux/villa_front.jpg" alt="Random first slide">
                                            <div class="carousel-caption">
                                            </div>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/techlux/villa_gate.jpg" alt="Random second slide">
                                            <div class="carousel-caption">
                                            </div>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/techlux/plot10.jpg" alt="Random third slide">
                                            <div class="carousel-caption">
                                            </div>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/techlux/plot7_night.jpg" alt="Random third slide">
                                            <div class="carousel-caption">
                                            </div>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/techlux/plot6_night.jpg" alt="Random third slide">
                                            <div class="carousel-caption">
                                            </div>
                                        </ng-template>
                                    </ngb-carousel>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>THE HAVEN</a>
                    <ng-template ngbNavContent>
                        <div class="row">
                            <div class="col-md-8 mr-auto ml-auto">
                                <div class="card page-carousel">
                                    <ngb-carousel>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/havens/exterior2.jpg" alt="Random first slide">
                                            <div class="carousel-caption">
                                            </div>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/havens/living2.jpg" alt="Random second slide">
                                            <div class="carousel-caption">
                                            </div>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/havens/living.jpg" alt="Random third slide">
                                            <div class="carousel-caption">
                                            </div>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/havens/kitchen.jpg" alt="Random third slide">
                                            <div class="carousel-caption">
                                            </div>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/havens/collash.jpg" alt="Random third slide">
                                            <div class="carousel-caption">
                                            </div>
                                        </ng-template>
                                    </ngb-carousel>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <a ngbNavLink>SERENITY</a>
                    <ng-template ngbNavContent>
                       <div class="row">
                            <div class="col-md-8 mr-auto ml-auto">
                                <div class="card page-carousel">
                                    <ngb-carousel>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/serenity/exterior.jpg" alt="Random first slide">
                                            <div class="carousel-caption">
                                            </div>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/serenity/living.jpg" alt="Random second slide">
                                            <div class="carousel-caption">
                                            </div>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/serenity/washbasin.jpg" alt="Random third slide">
                                            <div class="carousel-caption">
                                            </div>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/serenity/stairs.jpg" alt="Random third slide">
                                            <div class="carousel-caption">
                                            </div>
                                        </ng-template>
                                    </ngb-carousel>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav"></div>
        </div>
    </div>

    <div class="section section-dark text-center about">
        <div class="container">
            <h2 class="title">Let's talk about us</h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/FH_logo_transperant.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Fortune Homes Developers</h4>
                                    <!-- <h6 class="card-category">Product Manager</h6> -->
                                </div>
                            </a>
                            <p class="card-description text-center">
                               Fortune Homes Developers was established in 2020 with a clear vision: to build not just homes, but lasting relationships based on trust, quality, and transparency. Based in Kerala, we have grown to become a preferred name in the construction industry, known for our timely delivery, customer satisfaction, and uncompromising standards. 
                               We specialize in creating thoughtfully designed residential spaces that blend aesthetics with functionality. Our projects reflect a commitment to affordable luxury, environmental responsibility, and long-term value for every homeowner. 
                               What sets us apart is our customer-centric approach. From the first blueprint to the final handover, we ensure a seamless experience guided by clear communication, ISO-compliant practices, and ethical business values. 
                               At Fortune Homes, we believe your home should be a reflection of your dreams—and we’re here to make that dream a reality.
                            </p>
                        </div>
                        <!-- <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-linkedin"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section landing-section text-center contact">
        <div class="container">
            <h2 class="title">Contact Us</h2>
            <div class="row contact-section">
                <div class="col-md-8 mr-auto ml-auto">
                    <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/FH_logo_transperant.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Fortune Homes Developers Group<br /></h4>
                    <h6 class="description">Andoorkonam, Near Kazhakootam, Trivandrum</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <ul class="timing">
                        <li>Monday through Wednesday 9AM–6PM</li>
                        <li>Thursday through Friday 9AM–8PM</li>
                        <li>Saturday and Sunday 9AM–6PM</li>
                    </ul>
                    <br />
                    <!-- <button class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> Settings</button> -->
                </div>
            </div>
            <div class="row contact-info">
                <div class="col-md-6">
                    <a class="btn btn-facebook-bg btn-round contact">INDIA - +91 9946676620</a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-facebook-bg btn-round contact">USA - +1 8352265468</a>
                </div>
            </div>
            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-nav class="nav-justified">
                        <ngb-nav-item title="Follows">
                            <ng-template ngbTabContent >
                                <div class="row following" id="follows">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Flume<br/><small>Musical Producer</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                        <div class="form-check">
                                                          <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" value="" checked="">
                                                            <span class="form-check-sign"></span>
                                                          </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Banks<br /><small>Singer</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                        <div class="form-check">
                                                          <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" value="" checked="">
                                                            <span class="form-check-sign"></span>
                                                          </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-nav-item>
                        <ngb-nav-item title="Following">
                            <ng-template ngbTabContent>
                                <h3 class="text-muted">Not following anyone yet :(</h3>
                                <br>
                                <button class="btn btn-warning btn-round">Find artists</button>
                            </ng-template>
                        </ngb-nav-item>
                    </ngb-nav>
                </div>
            </div>
        </div>
                </div>
            </div>
        </div>
    </div>
</div>