<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a class="fa-icon" href="https://www.facebook.com/profile.php?id=100094140285405"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a class="fa-icon" href="https://www.instagram.com/fortune_homes_developers/"><i class="fa fa-instagram"></i></a></li>
                    <!-- <li><a href="https://www.creative-tim.com/license">Licenses</a></li> -->
                </ul>
            </nav>
            <div class="credits ml-auto">
                <!-- <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Fortune Homes Developers
                </span> -->
            </div>
        </div>
    </div>
</footer>
